Screen {
    /* align: center middle; */
    layers: table details columnadd search;
}

MiddleContainer {
    align: center top;
}

Details {
    max-width: 30%;
    min-width: 20%;
    layer: details;
    dock: left;
}

Help {
    max-width: 30%;
    min-width: 20%;
    layer: details;
    dock: right;
}

#kvp {
    height: 2fr;
}

#datalist {
    min-height: 25%;
}

Title {
    background: $boost;
    color: $secondary;
    padding: 2 4;
    /* border-right: vkey $background; */
    text-align: center;
    text-style: bold;
}

#table {
    layer: table
}

.searchbar {
    width: 70%;
    height: 10;
    layer: search;
}

ColumnAdd {
    layer: columnadd;
}

/* Search { */
/* } */
#filterkey {
    max-width: 40%;
    min-width: 20%;
    /* height: 3; */
    /* border: round grey; */
}

#filtervalue {
    max-width: 40%;
    min-width: 20%;
}

#filteroperator {
    width: 10;
}

.filter-buttons {
    min-width: 5;
}

#add-filter {
    width: 6;
}

#only-marked-checkbox {
    dock: bottom;
}

#filter-box {
    height: 50%;
}

Filter {
    align: center middle;
    layout: horizontal;
}
