Screen {
    /* align: center middle; */
    layers: table details searchbar;
}

MiddleContainer {
    align: center top;
}

Details {
    max-width: 30%;
    min-width: 20%;
    layer: details;
    dock: left;
}

Title {
    background: $boost;
    color: $secondary;
    padding: 2 4;
    /* border-right: vkey $background; */
    text-align: center;
    text-style: bold;
}

#table {
    layer: table
}

SearchBar {
    width: 40%;
    height: 10;
    layer: searchbar;

}
